<launch>
  <arg name="camera_set"/>
  <arg name="settings"/>

  <arg name="namespace" default="$(arg camera_set)"/>
  <arg name="device" default="cuda:0"/>

  <node  pkg="spinnaker_camera_driver_ros" type="camera_array.py" name="camera_array" ns="$(arg namespace)" output="screen" required="true">
    <rosparam file="$(find spinnaker_camera_driver_ros)/camera_sets/$(arg camera_set).yaml" />
    <rosparam file="$(find spinnaker_camera_driver_ros)/camera_settings/$(arg settings).yaml" />

    <param name="device" value="$(arg device)"/>

  </node>

</launch>

